@import "./_vars.scss";


* {
  margin: 0;
}

.navmenu {
  display: flex;
  justify-content: center;
  height: 50px;
  padding-top: 10px;
  background: linear-gradient(50deg,#240b36, #cc5333,#240b36);

  .navlink {
    text-decoration: none;
    font-size: 30px;
    color: white;
    letter-spacing: 1px;
    font-weight: bold;
    padding-right: 30px;
    text-align: center;
    font-family: $fonts;
    text-transform: uppercase;
    letter-spacing: 2px;
  }
  .navlink:hover {
    transform: scale(1.2);
    transition: 0.5s;
  }
  .navimg {
    
    
    position: absolute;
  }
}
